################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectAssignment1/.vs/ProjectAssignment1/v15
/ProjectAssignment1/Debug
